/**

for my Layout component some styles

.scss.

.layout {
	header {
		color: red;
		font-size: 50px;
	}
}

*/

/*
.layout header {
	color: red;
	font-size: 50px;
}
*/

.layout {
	header {
		color: red;
		font-size: 50px;
	}
}